data/building_damage/train
data/building_damage/test
data/flood/train
data/flood/test
data/flood_sar/
data/flood_sar/
notebooks/venv
data/

sample_files/

*.tif
*.tiff
*.pth
*.pt
*.ckpt
*.h5
*.pkl
*.pickle